/*
* Globals
*/

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color:#fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: rgb(10, 6, 247);
  border: .05rem solid #fff;
  font-size: 1rem;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-size: 28px;
}


/*
* Base structure
*/

html,
body {
  height: 100%;
  background-color: #333;
  background-image: url("pro.jpg");
  background-size: cover;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: rgb(8, 8, 8);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  /* max-width: 42em; */
  max-width: 80em;
}


/*
* Header
*/
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}
.info{
  font-size: 28px;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: black;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: black;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
/*
* Cover
*/
.cover {
  padding: 0 1.5rem;
  margin-top: 1rem;
  margin-left: 6rem;
  margin-right: 5%;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
* Footer
*/
.mastfoot {
  color: rgba(9, 245, 245, 0.5);
}
.page{
  margin-right: 1%;
  margin-top: 6%;
  margin-left: 10%;
  margin-bottom: 2%;
}

.meta-class{
  font-size: 74px;
  margin-top: 40%;
}
.contact{
  font-size: 52px;
  margin-top: 10%;
}

.contact-info{
  outline: #4CAF50 solid;
  margin: auto;  
  padding: 20px;
  text-align: center;
  margin-right: 10%;
  font-size: 37px;
}
li {
  list-style: none;
  font-size: 22px;
}
.email-link {
  color: blue;
}
.resume{
  margin-left: 40%;
  color: #1b1e21;
  margin-top: 280px;
}

.lead
{
  text-align: justify;
}
h2{
  font-size: 3.3rem;
  color:brown;
}
h1{
  font-size: 5rem;
}
h4{
  font-size: 2rem;
}
.head{
  font-size: 2rem;
  margin-right: 20%;
}
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: pink;
  margin-left: 3rem;
}
.nav-link{
  color: blue;
}
.aboutus{
  margin-right: 15px;
  margin-left: 12px;
  font-size: 32px;
  margin-bottom: 70%;
  text-align: justify;
  margin-top: 13%;
}
@media (max-width: 980px){
  .head{
    font-size: 75px !important;
  }
  .meta-class{
    font-size: 80px !important;
    margin-top: 150px !important;
  }
  .resume {
    margin-left: 30%;
  }
  small, small {
    font-size: 96%;
    font-weight: 400;
  }
  .nav-link{
    font-size: 3em;
  }
  .masthead{
    height: 10px !important;
    margin-bottom: 50px !important;
  }
  .lead{
    font-size: 50px !important;
  }
  .cover{
    margin-bottom: 800px !important;
    margin-top: 40%;
  }
  .btn{
    font-size: 36px;
  }
  .aboutus{
    font-size: 49px;
    margin-top: 27% !important;
    margin-left: 7%;
    margin-right: 7%;
    text-align: justify;
  }
  .text-center{
    text-align: justify !important;
  }
  .cc{
    margin-top: 20%;
  }
  .li{
    list-style: none;
    font-size: 38px;
  }
}
